@keyframes change_color {
    from {
        color: white;
    }

    to {
        color: rgb(56, 189, 248);
    }
}
@keyframes change_opacity {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
a:hover {
    animation-name: change_color;
    animation-duration: 1s;
    color: aquamarine;
}

img {
    mix-blend-mode: lighten;
}
#ius_above, .td_above{
    background: #99b6de;
    background: radial-gradient(circle,rgba(214, 231, 252, 0.8) 40%,rgb(128, 174, 238) 100%);
    overflow:hidden;
}
#ius_above{
    grid-area: img;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
}
#ius_above img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
img.IUS{
    mix-blend-mode: multiply;
}
#TD .td_above img
{
    mix-blend-mode:multiply;
    object-fit: cover;
    padding: 0;
        width: 100%;
    height: 100%;
    object-fit: cover;
}
.td_above{
    margin: 0 2vw;
}

html,
body {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: Helvetica, sans-serif;
    background: black;
    color: #e7e7e7;
}

section {
    margin-left: 2rem;
    margin-right: 2rem;
}

h1 {
    color: #38bdf8;
    font-size: 500%;
}

h2,
h3 {
    color: #38bdf8;
}

nav {
    display: flex;
    text-align: center;
    margin: 0.5rem 2rem;
    justify-content: right;
    gap: 20px;
    padding-top: 1%;
}

nav a {
    text-decoration: none;
    font-style: bold;
    color: white;
}

#home {
    display: grid;
    grid-template-areas: "h2 h3" "h1 h1" "text text";
    justify-content: center;
    vertical-align: bottom;
}
#home div{
    display: flex;
}

#home p,
#home h2,
#home h3, #home h1 {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0.5vw 1vw;
}

#home h1 {
    padding-top: 1vw;
    grid-area: h1;
    text-align: left;
}

#home h2 {
    text-align: right;
    grid-area: h2;
    font-size: 80%;
}

#home h3 {
    grid-area: h3;
    align-self: center;
    font-size: 80%;
}

#home p {
    max-width: 50vw;
    grid-area: text;
    text-align: justify;
    padding-bottom: 1vw;
}

#profile {
    margin-top: 2vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
}

#profile h2 {
    padding: 1vw 0 1vw 24%;
    text-align: left;
    margin: 0;
    grid-column: 1;
    grid-row: 1;
    font-size: 200%;
}

#profile p {
    display: block;
    text-align: justify;
    margin: 0 auto;
    grid-column: 1;
    grid-row: 2;
    padding: 0 1vw 1vw;
    max-width: 50%;
}

#school {
    margin-top: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#school h2 {
    padding-top: 1vw;
    margin: 0;
    align-self:flex-start;
    padding-left: 24%;
       font-size: 200%;
}

#school div p {
    grid-area: text;
    margin: 0;
    padding: 0 1vw 0 0;
    text-align: justify;
}

#school div:first-of-type p:nth-of-type(1) {
    text-align: center;
    margin: 0;
    padding: 0 18vw 0 0;
}
#school div:last-of-type p:nth-of-type(1) {
    text-align: center;
    margin: 0;
    padding: 0 0 0 18vw;
}
#school div{
    align-items: start;
    margin: 0 auto;
    display: grid;
    grid-template-areas: "nad nad" "text img";
    max-width: 50%;
}
#school div:last-of-type
{
grid-template-areas: "nad nad" "img text";
}

#school div p:first-child {
    grid-area: nad;
    align-self: end;
    font-weight: bold;
    font-size: 120%;
}

#school div:first-of-type {
    padding-bottom: 4vw;
}

#school div img {
    grid-area: img;
    max-width: 70%;
    justify-self: start;
    align-self: center;
}
#school div:last-of-type img {
    align-self: center;
    justify-self: end;
    padding-right: 1vw;
}

#projects {
    margin-top: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#projects h1{
    margin: 1rem 0 0;
    align-self: flex-start;
    padding-left: 14%;
}
#projects h2{
    font-size: 250%;
    padding-left: 14%;
    align-self: flex-start;
}
#projects .project {
    display: grid;
    width: 80%;
    margin: 0 auto;
    align-items: stretch;
}

#projects #sch-p .nad_project {
    align-self: center;
    justify-self: center;
    margin: 0;
        display: flex;
        flex-direction: column;
}
#projects .nad_project h2{
    margin: 0;
    white-space: nowrap;
    align-self: center;
    justify-self: center;
    font-size: 200%;
}
.nad_project h2:last-of-type{
        animation-name: change_opacity;
    animation-duration: 1s;
}

#projects .project:nth-child(2n-1) {
    grid-template-areas: "img h3" "img txt";
    align-items: stretch;
    margin: 0 auto;
    grid-template-rows: auto auto;
    align-items: center;
}

#projects .project:nth-child(2n) {
    grid-template-areas: "h3 img" "txt img";
    align-items: stretch;
    margin: 0 auto;
    grid-template-rows: auto auto;
    align-items: center;
}

.project h3 {
    grid-area: h3;
    text-align: center;
    align-self: flex-end;
    padding-bottom: 5%;
    margin: 0;
}

#projects .project:nth-child(2n-1) img {
    justify-self: right;
}

#projects .project:nth-child(2n) img {
    justify-self: left;
}


.project img {
    grid-area: img;
        width: 80%;
    height: 80%;
    min-height: 0;
    object-fit:contain;
    padding: 0 5%;
    align-self: center;
}

.project p {
    grid-area: txt;
    margin: 0;
    display: flex;
    align-self: flex-start;
    padding: 0 5%;
    text-align: justify;
    min-height: 0;
}

.project .text {
    grid-area: txt;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.project a{
    grid-area: img;
    text-align: center;
    color: white;
    text-decoration: none;
    align-self: flex-end;
}

#projects #TD {
    grid-template-areas: "h2 h2" "t1 i1" "t2 i2" "t3 t3" "t4 i4";
    justify-content: center;
    align-items: center;
    margin: 0 2rem;
}
#TD h2 {
    grid-area: h2;
    font-weight: bold;
    font-size: 150%;
}
.td_above{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 80%;
}
#TD p {
    margin: 0;
    display: flex;
    align-self: center;
    padding: 0 5%;
    text-align: justify;
    min-height: 0;
}
#TD p:first-of-type {
    grid-area: t1;
    height: 10vw;
}
 
#TD  img:nth-of-type(2) {
    grid-area: i1;
    height: 10vw;
}

#TD p:nth-of-type(2) {
    grid-area: t2;
}

#TD .td_above:has(img[src$="moje2.png"]) {
    grid-area: i2;
}

#TD p:nth-of-type(3) {
    grid-area: t3;
    padding: 2vw 5%;
}

#TD p:nth-of-type(4) {
    grid-area: t4;
    padding: 0 0 2vw 5%;
}

#TD .td_above:has(img[src$="moje3.png"]) {
    grid-area: i4;
}
#TD a{
    grid-area: t4;
    align-self:flex-end;
    justify-self: center;
    padding-bottom:10%;
}

#skills {
    margin-top: 2vw;
    padding: 2rem;
    display: flex;
    flex-direction: column;
}
#skills h2{
    padding-left: 14%;
    font-size: 200%;
}

#skills ul {
    list-style: decimal;
    padding-left: 15%;
    align-self: flex-start;
    justify-content: center;
}

#skills li {
    padding: 7px 0 0 0;
}

#kontakt {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    margin-top: 2vw;
    align-items: center;
    padding-left: 70%;
    white-space: nowrap
}

#kontakt h2 {
    margin: 0;
}

#kontakt p {
    margin: 0.5%;
    text-align: justify;
}

#kontakt a {
    text-decoration: none;
    color: #97b3d3;
}
/*apearing dynamic classes*/
.hidden{
    display: none;
    opacity: 0;
    font-size: 0;
}
.anim_fade{
    animation: change_opacity;
    animation-duration: 1s;
}
.show {
    display: flex;
    justify-content: right;
    position: fixed;
    top: 0;
    right: 2rem;
    height: 3%;
    z-index: 999;
    width: 100%;
    margin: 0;
    background-color: black;
}

/*phone*/
@media (min-width: 320px) {
    nav {
        font-size: 60%;
    }
}

/*Tablet*/
@media (min-width: 768px) {
    nav {
        font-size: 100%;
    }
}

/*PC*/
@media (min-width: 1024px) {}