@keyframes change_color {
    from {
        color: #97b3d3;
    }

    to {
        color: aquamarine;
    }
}

html,
body {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    background: #0f172a;
    color: #dfdfdf;
}

section {
    background: #1e293b;
    margin-left: 2rem;
    margin-right: 2rem;
}

h1 {
    color: #38bdf8;
}

h2,
h3 {
    color: #95b3db;
}

nav {
    display: flex;
    text-align: center;
    margin: 0.5rem 4rem;
    justify-content: center;
}

nav a {
    padding: 0 2%;
    text-decoration: none;
    font-style: italic;
    color: white;
}

.show {
    display: flex;
    text-align: center;
    margin: 0.5rem 4rem;
    justify-content: center;
    position: fixed;
    top: -1%;
    left: 0;
    background: #0f172a;
    padding-top: 1vw;
    height: 3%;
    z-index: 999;
    width: 100%;
    margin: 0;
}

#home {
    display: grid;
    grid-template-areas: "h1 h1" "h2 h3" "text text";
    justify-content: center;
    vertical-align: bottom;
}

#home p,
#home h2,
#home h3,
#home h1 {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0.5vw 1vw;
}

#home h1 {
    padding-top: 1vw;
    grid-area: h1;
    text-align: center;
}

#home h2 {
    text-align: right;
    grid-area: h2;
}

#home h3 {
    grid-area: h3;
}

#home p {
    max-width: 50vw;
    grid-area: text;
    padding-bottom: 1vw;
}

#profile {
    margin-top: 2vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
}

#profile h2 {
    padding: 1vw 0;
    text-align: center;
    margin: 0;
    grid-column: 1;
    grid-row: 1;
}

#profile p {
    text-align: center;
    margin: 0 auto;
    grid-column: 1;
    grid-row: 2;
    padding: 0 1vw 1vw;
    max-width: 50%;
}

#school {
    margin-top: 2vw;
    display: flex;
    flex-direction: column;
}

#school h2 {
    padding-top: 1vw;
    text-align: center;
    margin: 0;
    grid-area: h2;
}

#school div p {
    grid-area: text;
    margin: 0;
    padding: 0 1vw 0 0;
}

#school div p:first-of-type,
#school div p:nth-of-type(3) {
    text-align: center;
    margin: 0;
    padding: 0 18vw 0 0;
}

#school div {
    align-items: start;
    margin: 0 auto;
    display: grid;
    grid-template-areas: "nad nad" "text img";
    max-width: 60%;
}

#school div p:first-child {
    grid-area: nad;
    align-self: end;
    font-weight: bold;
    font-size: 120%;
}

#school div img:last-of-type {
    padding-bottom: 2vw;
}

#school div img {
    grid-area: img;
    max-width: 50%;
    max-height: 120%;
}

#projects {
    margin-top: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#projects .project {
    display: grid;
    width: 80%;
    margin: 0 auto;
    align-items: stretch;
}

#projects #sch-p h2 {
    text-align: center;
}

#projects .project:nth-child(2n-1) {
    grid-template-areas: "h3 h3" "img txt";
    align-items: stretch;
    margin: 0 auto;
}

#projects .project:nth-child(2n) {
    grid-template-areas: "h3 h3" "txt img";
    align-items: stretch;
    margin: 0 auto;
}

.project h3 {
    grid-area: h3;
    text-align: center;
}

#projects .project:nth-child(2n-1) img {
    justify-self: right;
}

#projects .project:nth-child(2n) img {
    justify-self: left;
}

.project img {
    grid-area: img;
    width: 100%;
    height: 100%;
    min-height: 0;
    object-fit: contain;

    padding: 0 5%;
    align-self: center;
}

.project p {
    grid-area: txt;
    margin: 0;
    display: flex;
    align-items: center;
}

.project .text {
    grid-area: txt;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#projects #TD {
    grid-template-areas: "h3 h3" "t1 i1" "t2 i2" "t3 t3" "t4 i4";
}

#TD h3 {
    grid-area: h3;
}

#TD p:first-of-type {
    grid-area: t1;
}

#TD img:first-of-type {
    grid-area: i1;
}

#TD p:nth-of-type(2) {
    grid-area: t2;
}

#TD img:nth-of-type(2) {
    grid-area: i2;
}

#TD p:nth-of-type(3) {
    grid-area: t3;
    padding: 2vw 0;
}

#TD p:nth-of-type(4) {
    grid-area: t4;
    padding: 0 0 2vw 0;
}

#TD img:nth-of-type(3) {
    grid-area: i4;
    padding: 0 0 2vw 0;
}

#skills {
    margin-top: 2vw;
    padding: 2rem;
}

#skills ul {
    list-style: decimal;
}

#skills li {
    padding: 7px 0 0 0;
}

#kontakt {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    margin-top: 2vw;
}

#kontakt h2 {
    margin: 0;
}

#kontakt p {
    margin: 0.5%;
}

#kontakt a {
    text-decoration: none;
    color: #97b3d3;
}

#kontakt a:hover {
    animation-name: change_color;
    animation-duration: 1s;
    color: aquamarine;
}

/*phone*/
@media (min-width: 320px) {
    nav {
        font-size: 60%;
    }
}

/*Tablet*/
@media (min-width: 768px) {
    nav {
        font-size: 100%;
    }
}

/*PC*/
@media (min-width: 1024px) {}